* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
:root{ 
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    /* --default-shadow: 0 4px 4px #0004; */
    /* --default-padding: 0px 80px; */
}
body {
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    height: 100px;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0px 96px;
    color: #FFFFFF
}
.logo {
    display: flex;
    gap: 11px;
    align-items: center;
    font-size: 24px;
}
.logo p {
    display: block;
    width: 70px;
}
.sair {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 36px;
}