* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
:root{ 
 
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    /* --default-shadow: 0 4px 4px #0004; */
    /* --default-padding: 0px 80px; */
}